body{
    background-color: lightblue;
    font-family: 'Cuprum', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    
}

h1{
   display: flex;
   justify-content: center;
}

#boroughBtn{
    display: flex;
    justify-content: center;
}
.resDiv{
    display:flex;
    justify-content: start;
    padding: 4px;
    border: 1px red;
}
#response{
    display: flex;
    justify-content: center;
}
button{
    padding: 4px;
    border: 1px red;
    background-color: lightpink;
    font-family: 'Cuprum', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    
}
